__pycache__
*.pyc

.env/

/airflow/logs/*
/airflow/dags/test_airflow_local.py
/airflow/airflow.cfg
/airflow/webserver_config.py
airflow/airflow-webserver.pid
airflow/airflow.db
airflow/standalone_admin_password.txt

dbt_wholesaleDW/.user.yml

/logs

test.ipynb
different_tables.py

local-env.sh